@use "../../../shared/style/colors" as c;

.Task {
  background: c.$gray-dark;
  border: 2px solid c.$gray;
  padding: 20px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 250px;
  min-height: 125px;

  &:hover {
    box-shadow: 0 0 10px c.$gray;
  }
}

.Name {
  font-size: 16px;
  color: c.$gray-light;
  font-weight: 400;
  overflow-wrap: anywhere;
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
